@base: #000000;

.c7n-msgrecord {
  .page-content {
    padding-top: 0;
  }

  table {
    font-family: PingFangSC-Medium;

    tbody {
      font-family: PingFangSC-Regular;

      td {
        color: fade(@base, 65%);
      }
    }
  }

  // &-status {
  //   color: white;
  //   padding: 2px 5px;
  //   border-radius: 2px;
  //   font-size: 10px;
  //   &.failed {
  //     background: #f44336;
  //   }

  //   &.completed {
  //     background: #00bfa5;
  //   }
  // }

  &-status {
    color: white;
    width: 0.4rem;
    height: 0.18rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 0.10rem;
    line-height: 0.18rem;
    position: absolute;
    text-align:center;
    // left: 50%;
    // /* 定位父级的50% */
    top: 50%;
    transform: translateY(-50%);
    /*自己的50% */
    &-failed {
      background: #f44336;
    }
    &-completed {
      background: #00BFA5;

    }
  }

}