<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.message.infra.mapper.HzeroTemplateServerMapper">
    <select id="queryByCategoryCodeAndReceiveConfigFlag"
            resultType="io.choerodon.message.api.vo.SendSettingVO">
        SELECT
        hts.temp_server_id,
        hts.tenant_id,
        hts.message_code,
        hts.message_name,
        hts.category_code,
        hts.subcategory_code,
        hts.receive_config_flag,
        hts.enabled_flag,
        hts.object_version_number,
        htslemail.enabled_flag emailEnabledFlag,
        hmtemail.template_id emailTemplateId,
        htslsms.enabled_flag smsEnabledFlag,
        hmtsms.template_id smsTemplateId,
        htslpm.enabled_flag pmEnabledFlag,
        hmtpm.template_id pmTemplateId
        FROM hmsg_template_server hts
        LEFT JOIN hmsg_template_server_line htslemail ON hts.temp_server_id = htslemail.temp_server_id AND
        htslemail.type_code='EMAIL'
        LEFT JOIN hmsg_template_server_line htslsms ON hts.temp_server_id = htslsms.temp_server_id AND
        htslsms.type_code='SMS'
        LEFT JOIN hmsg_template_server_line htslpm ON hts.temp_server_id = htslpm.temp_server_id AND
        htslpm.type_code='WEB'
        LEFT JOIN hmsg_message_template hmtemail ON hmtemail.template_code=htslemail.template_code
        LEFT JOIN hmsg_message_template hmtsms ON hmtsms.template_code=htslsms.template_code
        LEFT JOIN hmsg_message_template hmtpm ON hmtpm.template_code=htslpm.template_code
        where hts.enabled_flag = 1
        <if test="level != null">
            AND hts.category_code = #{level}
        </if>
        <if test="allowConfig != null">
            AND hts.receive_config_flag = #{allowConfig}
        </if>
    </select>
</mapper>