<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.notify.infra.mapper.MailingRecordMapper">

    <select id="fulltextSearchEmail" resultType="io.choerodon.notify.api.dto.RecordListDTO">
        SELECT
        rc.id,
        rc.status,
        rc.receive_account AS email,
        rc.retry_count,
        nts.is_manual_retry,
        tl.title AS template_type,
        rc.failed_reason,
        rc.creation_date
        FROM notify_mailing_record rc
        LEFT JOIN notify_send_setting nts ON nts.code = rc.send_setting_code
        LEFT JOIN notify_template tl ON rc.template_id = tl.id
        WHERE rc.status IS NOT NULL
        <if test="level != null">
            AND nts.fd_level = #{level}
        </if>
        <if test="status != null">
            AND rc.status = #{status}
        </if>
        <if test="receiveEmail != null">
            AND rc.receive_account LIKE concat(concat('%',#{receiveEmail}),'%')
        </if>
        <if test="templateType != null">
            AND tl.name LIKE concat(concat('%',#{templateType}),'%')
        </if>
        <if test="failedReason != null">
            AND rc.failed_reason LIKE concat(concat('%',#{failedReason}),'%')
        </if>
        <if test="params != null">
            AND (
            tl.name LIKE concat(concat('%',#{params}),'%') OR
            rc.receive_account LIKE concat(concat('%',#{params}),'%') OR
            rc.failed_reason LIKE concat(concat('%',#{params}),'%')
            )
        </if>
        order by rc.id desc
    </select>

    <update id="updateRecordStatusAndIncreaseCount">
        UPDATE notify_mailing_record
        SET object_version_number = object_version_number + 1,
        status = #{status}, failed_reason = #{reason}
        <if test="increase">
            , retry_count = retry_count + 1
        </if>
        <if test="date != null">
            , creation_date = #{date}
        </if>
        WHERE id = #{id}
    </update>

</mapper>
