<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.notify.infra.mapper.MessegeSettingMapper">

    <insert id="insertMessageByIds">
        insert into
        notify_webhook_message_setting(send_setting_id)
        values
        <foreach collection="ids" item="id" separator=",">
            (#{id})
        </foreach>
        where webhook_id=#{webHookId}
    </insert>
    <insert id="insertWebHookIds">
        insert into
        notify_webhook_message_setting(webhook_id)
        values
        <foreach collection="webHookIds" item="id" separator=",">
            (#{id})
        </foreach>
    </insert>
</mapper>
