<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.message.infra.mapper.MessageSettingC7nMapper">
    <select id="queryByCodeWithoutProjectId" resultType="io.choerodon.message.infra.dto.MessageSettingDTO">
        SELECT
        nms.*
        FROM notify_message_setting nms
        WHERE nms.`CODE`=#{code} and nms.PROJECT_ID = 0
    </select>
    <select id="listCategoriesBySettingType" resultType="io.choerodon.message.api.vo.NotifyEventGroupVO">
        SELECT DISTINCT nssc.ID, nssc.NAME
        FROM notify_message_setting nms
        INNER JOIN notify_send_setting nss ON nms.CODE = nss.CODE
        LEFT JOIN notify_send_setting_category nssc ON nssc.CODE = nss.CATEGORY_CODE
        WHERE nms.NOTIFY_TYPE = #{notifyType}
    </select>
    <select id="listDefaultAndEnabledSettingByNotifyType" resultMap="customMessageSettingMap">
        SELECT
        nms.ID, nms.ENV_ID, nms.NOTIFY_TYPE, nms.CODE, nms.PROJECT_ID, nms.EVENT_NAME,
        nms.SMS_ENABLE, nms.PM_ENABLE, nms.EMAIL_ENABLE, nms.OBJECT_VERSION_NUMBER,
        nss.ID AS NSS_ID, nss.NAME, nss.EMAIL_ENABLED_FLAG, nss.PM_ENABLED_FLAG, nss.SMS_ENABLED_FLAG,
        nt.ID NT_ID, nt.SENDING_TYPE,
        nssc.ID AS GROUP_ID,
        nmstu.ID AS NMSTU_ID, nmstu.USER_ID,nmstu.TYPE,nmstu.MESSAGE_SETTING_ID
        FROM notify_message_setting nms
        INNER JOIN notify_send_setting nss ON nms.CODE = nss.CODE
        LEFT JOIN notify_send_setting_category nssc ON nss.CATEGORY_CODE = nssc.CODE
        LEFT JOIN notify_template nt ON nss.CODE = nt.SEND_SETTING_CODE
        LEFT JOIN notify_message_setting_target nmstu ON nmstu.MESSAGE_SETTING_ID = nms.ID
        WHERE nms.NOTIFY_TYPE = #{notifyType} AND nms.PROJECT_ID = 0 AND nss.IS_ENABLED = TRUE
    </select>
    <select id="listMessageSettingByProjectId" resultMap="customMessageSettingMap">
        SELECT
        nms.ID, nms.ENV_ID, nms.NOTIFY_TYPE, nms.CODE, nms.PROJECT_ID,nms.EVENT_NAME,
        nms.SMS_ENABLE, nms.PM_ENABLE, nms.EMAIL_ENABLE, nms.OBJECT_VERSION_NUMBER,
        nss.NAME,
        nssc.ID AS GROUP_ID,
        nmstu.ID AS NMSTU_ID, nmstu.USER_ID,nmstu.TYPE,nmstu.MESSAGE_SETTING_ID
        FROM notify_message_setting nms
        INNER JOIN notify_send_setting nss ON nms.CODE = nss.CODE
        LEFT JOIN notify_send_setting_category nssc ON nss.CATEGORY_CODE = nssc.CODE
        LEFT JOIN notify_message_setting_target nmstu ON nmstu.MESSAGE_SETTING_ID = nms.ID
        WHERE nms.NOTIFY_TYPE = #{notifyType} AND nms.PROJECT_ID = #{projectId} AND nss.IS_ENABLED = TRUE
    </select>
    <select id="listMessageSettingByProjectIdAndEnvId"
            resultMap="customMessageSettingMap">
        SELECT
        nms.ID, nms.ENV_ID, nms.NOTIFY_TYPE, nms.CODE, nms.PROJECT_ID,nms.EVENT_NAME,
        nms.SMS_ENABLE, nms.PM_ENABLE, nms.EMAIL_ENABLE, nms.OBJECT_VERSION_NUMBER,
        nss.NAME,
        nssc.ID AS GROUP_ID,
        nmstu.ID AS NMSTU_ID, nmstu.USER_ID,nmstu.TYPE,nmstu.MESSAGE_SETTING_ID
        FROM notify_message_setting nms
        INNER JOIN notify_send_setting nss ON nms.CODE = nss.CODE
        LEFT JOIN notify_send_setting_category nssc ON nss.CATEGORY_CODE = nssc.CODE
        LEFT JOIN notify_message_setting_target nmstu ON nmstu.MESSAGE_SETTING_ID = nms.ID
        WHERE nms.NOTIFY_TYPE = #{notifyType} AND nms.PROJECT_ID = #{projectId} AND nms.ENV_ID = #{envId} AND
        nss.IS_ENABLED = TRUE
    </select>
    <select id="getSettingByTypeAndCode" resultMap="messageSettingMap">
        SELECT
        nms.ID, nms.ENV_ID, nms.NOTIFY_TYPE, nms.CODE, nms.PROJECT_ID,nms.EVENT_NAME,
        nms.SMS_ENABLE, nms.PM_ENABLE, nms.EMAIL_ENABLE, nms.OBJECT_VERSION_NUMBER,
        nmstu.ID AS NMSTU_ID, nmstu.USER_ID,nmstu.TYPE,nmstu.MESSAGE_SETTING_ID
        FROM notify_message_setting nms
        LEFT JOIN notify_message_setting_target nmstu ON nmstu.MESSAGE_SETTING_ID = nms.ID
        WHERE nms.NOTIFY_TYPE = #{notifyType} AND nms.PROJECT_ID = #{projectId} AND nms.CODE = #{code}
    </select>
    <select id="getResourceDeleteSettingByOption" resultMap="messageSettingMap">
        SELECT
        nms.ID, nms.ENV_ID, nms.NOTIFY_TYPE, nms.CODE, nms.PROJECT_ID,nms.EVENT_NAME,
        nms.SMS_ENABLE, nms.PM_ENABLE, nms.EMAIL_ENABLE, nms.OBJECT_VERSION_NUMBER,
        nmstu.ID AS NMSTU_ID, nmstu.USER_ID,nmstu.TYPE,nmstu.MESSAGE_SETTING_ID
        FROM notify_message_setting nms
        LEFT JOIN notify_message_setting_target nmstu ON nmstu.MESSAGE_SETTING_ID = nms.ID
        WHERE
        nms.NOTIFY_TYPE = #{notifyType} AND nms.PROJECT_ID = #{projectId}
        AND nms.CODE = #{code} AND nms.ENV_ID = #{envId} AND nms.EVENT_NAME = #{eventName}
    </select>
    <select id="getDefaultResourceDeleteSetting" resultMap="messageSettingMap">
        SELECT
        nms.ID, nms.ENV_ID, nms.NOTIFY_TYPE, nms.CODE, nms.PROJECT_ID,nms.EVENT_NAME,
        nms.SMS_ENABLE, nms.PM_ENABLE, nms.EMAIL_ENABLE, nms.OBJECT_VERSION_NUMBER,
        nmstu.ID AS NMSTU_ID, nmstu.USER_ID,nmstu.TYPE,nmstu.MESSAGE_SETTING_ID
        FROM notify_message_setting nms
        LEFT JOIN notify_message_setting_target nmstu ON nmstu.MESSAGE_SETTING_ID = nms.ID
        WHERE
        nms.NOTIFY_TYPE = #{notifyType} AND nms.PROJECT_ID = 0
        AND nms.CODE = #{code} AND nms.ENV_ID = 0 AND nms.EVENT_NAME = #{eventName}
    </select>
    <select id="getDefaultSettingByCode" resultMap="messageSettingMap">
        SELECT
        nms.ID, nms.ENV_ID, nms.NOTIFY_TYPE, nms.CODE, nms.PROJECT_ID,nms.EVENT_NAME,
        nms.SMS_ENABLE, nms.PM_ENABLE, nms.EMAIL_ENABLE, nms.OBJECT_VERSION_NUMBER,
        nmstu.ID AS NMSTU_ID, nmstu.USER_ID,nmstu.TYPE,nmstu.MESSAGE_SETTING_ID
        FROM notify_message_setting nms
        LEFT JOIN notify_message_setting_target nmstu ON nmstu.MESSAGE_SETTING_ID = nms.ID
        WHERE
        nms.NOTIFY_TYPE = #{notifyType} AND nms.PROJECT_ID = 0
        AND nms.CODE = #{code} AND nms.ENV_ID = 0
    </select>
    <resultMap id="messageSettingMap" type="io.choerodon.message.api.vo.MessageSettingVO">
        <id property="id" column="ID"/>
        <result property="projectId" column="PROJECT_ID"/>
        <result property="envId" column="ENV_ID"/>
        <result property="notifyType" column="NOTIFY_TYPE"/>
        <result property="code" column="CODE"/>
        <result property="smsEnable" column="SMS_ENABLE"/>
        <result property="pmEnable" column="PM_ENABLE"/>
        <result property="emailEnable" column="EMAIL_ENABLE"/>
        <result property="objectVersionNumber" column="OBJECT_VERSION_NUMBER"/>
        <result property="eventName" column="EVENT_NAME"/>
        <collection property="targetUserDTOS" ofType="io.choerodon.message.infra.dto.TargetUserDTO">
            <id column="NMSTU_ID" property="id"/>
            <result column="USER_ID" property="userId"/>
            <result column="TYPE" property="type"/>
            <result column="MESSAGE_SETTING_ID" property="messageSettingId"/>
        </collection>
    </resultMap>
    <resultMap id="customMessageSettingMap" type="io.choerodon.message.api.vo.CustomMessageSettingVO">
        <id property="id" column="ID"/>
        <result property="projectId" column="PROJECT_ID"/>
        <result property="envId" column="ENV_ID"/>
        <result property="notifyType" column="NOTIFY_TYPE"/>
        <result property="code" column="CODE"/>
        <result property="smsEnable" column="SMS_ENABLE"/>
        <result property="pmEnable" column="PM_ENABLE"/>
        <result property="emailEnable" column="EMAIL_ENABLE"/>
        <result property="objectVersionNumber" column="OBJECT_VERSION_NUMBER"/>
        <result property="groupId" column="GROUP_ID"/>
        <result property="name" column="NAME"/>
        <result property="eventName" column="EVENT_NAME"/>
        <association property="sendSetting" javaType="io.choerodon.message.api.vo.SendSettingVO">
            <result property="emailEnabledFlag" column="EMAIL_ENABLED_FLAG"/>
            <result property="pmEnabledFlag" column="PM_ENABLED_FLAG"/>
            <result property="smsEnabledFlag" column="SMS_ENABLED_FLAG"/>
            <result property="sendingType" column="SENDING_TYPE"/>
        </association>
        <collection property="userList" ofType="io.choerodon.message.api.vo.TargetUserVO">
            <id column="NMSTU_ID" property="id"/>
            <result column="USER_ID" property="userId"/>
            <result column="TYPE" property="type"/>
            <result column="MESSAGE_SETTING_ID" property="messageSettingId"/>
        </collection>

    </resultMap>

    <delete id="deleteByTypeAndEnvId">
        DELETE nms,
        nmstu
        FROM
        notify_message_setting nms
        JOIN notify_message_setting_target nmstu ON nmstu.MESSAGE_SETTING_ID = nms.id
        WHERE
        nms.NOTIFY_TYPE = #{type}
        AND nms.ENV_ID = #{envId}
    </delete>

    <select id="selectByParams" resultType="io.choerodon.message.infra.dto.MessageSettingDTO">
        SELECT
            nms.ID,
            nms.`CODE`,
            nms.EVENT_NAME
        FROM
            notify_message_setting nms
        WHERE
            nms. CODE = #{messageCode}
            AND nms.PROJECT_ID = #{projectId}
            <if test="envId!=null">
                AND nms.ENV_ID = #{envId}
            </if>
            <if test="eventName!=null">
                AND nms.EVENT_NAME = #{eventName}
            </if>
        <choose>
            <when test="messageType != null and type ='EMAIL'">
                AND nms.EMAIL_ENABLE = TRUE
            </when>
            <when test="messageType != null and type ='SMS'">
                AND nms.EMAIL_ENABLE = TRUE
            </when>
            <when test="messageType != null and type ='WEB'">
                AND nms.PM_ENABLE = TRUE
            </when>
        </choose>
    </select>
</mapper>
