<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.notify.infra.mapper.MessageSettingMapper">

    <resultMap type="io.choerodon.notify.infra.dto.MessageSettingDTO" id="messageSettingDTO">
        <id column="id" property="id"/>
        <result column="NOTIFY_TYPE" property="notifyType"/>
        <result column="PROJECT_ID" property="projectId"/>
        <result column="PM_ENABLE" property="pmEnable"/>
        <result column="EMAIL_ENABLE" property="emailEnable"/>
        <result column="CATEGORY" property="category"/>
        <result column="CODE" property="code"/>
        <result column="NAME" property="name"/>
        <result column="CATEGORY_ID" property="categoryId"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber"/>
        <collection property="targetUserDTOS" ofType="io.choerodon.notify.infra.dto.TargetUserDTO">
            <id column="U_ID" property="id"/>
            <result column="TYPE" property="type"/>
            <result column="USER_ID" property="userId"/>
            <result column="MESSAGE_SETTING_ID" property="messageSettingId"/>
            <result column="U_OBJECT_VERSION_NUMBER" property="objectVersionNumber"/>
        </collection>
    </resultMap>

    <resultMap type="io.choerodon.notify.api.dto.MessageSettingCategoryDTO" id="messageSettingCategoryDTO">
        <result column="CATEGORY_ID" property="id"/>
        <result column="CATEGORY" property="name"/>
        <collection property="messageSettingDTO" ofType="io.choerodon.notify.infra.dto.MessageSettingDTO">
            <id column="id" property="id"/>
            <result column="NOTIFY_TYPE" property="notifyType"/>
            <result column="PROJECT_ID" property="projectId"/>
            <result column="PM_ENABLE" property="pmEnable"/>
            <result column="EMAIL_ENABLE" property="emailEnable"/>
            <result column="CATEGORY" property="category"/>
            <result column="CODE" property="code"/>
            <result column="NAME" property="name"/>
            <result column="CATEGORY_ID" property="categoryId"/>
            <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber"/>
            <collection property="targetUserDTOS" ofType="io.choerodon.notify.infra.dto.TargetUserDTO">
                <id column="U_ID" property="id"/>
                <result column="TYPE" property="type"/>
                <result column="USER_ID" property="userId"/>
                <result column="MESSAGE_SETTING_ID" property="messageSettingId"/>
                <result column="U_OBJECT_VERSION_NUMBER" property="objectVersionNumber"/>
            </collection>
        </collection>

    </resultMap>

    <!--先按code分组，其次选中分组的第一行-->
    <select id="listMessageSettingByCondition" resultMap="messageSettingCategoryDTO">
        SELECT
        any_value(m.ID) AS ID,
        any_value(m.NOTIFY_TYPE) AS NOTIFY_TYPE,
        m.`CODE`,
        any_value(m.PROJECT_ID) AS PROJECT_ID,
        any_value(m.PM_ENABLE) AS PM_ENABLE,
        any_value(m.EMAIL_ENABLE) AS EMAIL_ENABLE,
        any_value(m.CATEGORY) AS CATEGORY,
        any_value(m.CATEGORY_ID) AS CATEGORY_ID,
        any_value(m.OBJECT_VERSION_NUMBER) AS OBJECT_VERSION_NUMBER,
        any_value(m.TYPE) AS TYPE,
        any_value(m.USER_ID) AS USER_ID,
        any_value(m.MESSAGE_SETTING_ID) AS MESSAGE_SETTING_ID ,
        any_value(m.U_ID) AS U_ID,
        any_value(m.`NAME`) AS NAME,
        any_value( m.U_OBJECT_VERSION_NUMBER) AS U_OBJECT_VERSION_NUMBER
        FROM ( SELECT
        nms.ID,
        nms.NOTIFY_TYPE,
        nms.`CODE`,
        nms.PROJECT_ID,
        nms.PM_ENABLE,
        nms.EMAIL_ENABLE,
        nssc.name AS CATEGORY,
        nssc.ID AS CATEGORY_ID,
        nms.OBJECT_VERSION_NUMBER,
        ntu.TYPE,
        ntu.USER_ID,
        ntu.MESSAGE_SETTING_ID,
        ntu.ID AS U_ID,
        nss.name,
        ntu.OBJECT_VERSION_NUMBER AS U_OBJECT_VERSION_NUMBER
        FROM notify_message_setting nms , notify_message_setting_target_user ntu
        , notify_send_setting nss
        , notify_send_setting_category nssc
        WHERE nms.ID=ntu.MESSAGE_SETTING_ID
        and nms.`CODE`=nss.`CODE`
        and nss.CATEGORY_CODE=nssc.`CODE`
        and nms.NOTIFY_TYPE=#{messageSettingDTO.notifyType}
        <if test="messageSettingDTO.name !=null and messageSettingDTO.name !=''">
            and nss.name like "%"#{messageSettingDTO.name}"%"
        </if>
        <if test="projectId == '' or projectId ==null ">
            and nms.PROJECT_ID is NULL
        </if>
        <if test="projectId !=null and projectId !=null">
            and nms.PROJECT_ID =#{projectId} or nms.PROJECT_ID is NULL
        </if>
        ORDER BY nms.ID DESC limit 100
        ) m
        GROUP BY m.CODE
    </select>

    <select id="queryByCodeOrProjectId" resultMap="messageSettingDTO">
        SELECT
        nms.ID,
        nms.NOTIFY_TYPE,
        nms.`CODE`,
        nms.PROJECT_ID,
        nms.PM_ENABLE,
        nms.EMAIL_ENABLE,
        nssc.name AS CATEGORY,
        nssc.ID AS CATEGORY_ID,
        nms.OBJECT_VERSION_NUMBER,
        ntu.TYPE,
        ntu.USER_ID,
        ntu.MESSAGE_SETTING_ID,
        ntu.ID AS U_ID,
        nss.name,
        ntu.OBJECT_VERSION_NUMBER AS U_OBJECT_VERSION_NUMBER
        FROM notify_message_setting nms , notify_message_setting_target_user ntu
        , notify_send_setting  nss
        , notify_send_setting_category nssc
        WHERE nms.ID=ntu.MESSAGE_SETTING_ID
        and nms.`CODE`=nss.`CODE`
        and nss.CATEGORY_CODE=nssc.`CODE`
        <if test="messageSettingDTO.code !=null and messageSettingDTO.code !=null">
            and nss.code=#{messageSettingDTO.code}
        </if>
        <if test="messageSettingDTO.projectId == '' or messageSettingDTO.projectId ==null ">
            and nms.PROJECT_ID is NULL
        </if>
        <if test="messageSettingDTO.projectId !=null and messageSettingDTO.projectId !=null">
            and nms.PROJECT_ID =#{messageSettingDTO.projectId}
        </if>
    </select>

    <select id="queryByCodeWithoutProjectId" resultType="io.choerodon.notify.infra.dto.MessageSettingDTO">
        SELECT
            nms.*
        FROM notify_message_setting nms
        WHERE nms.`CODE`=#{code} and nms.PROJECT_ID is null
    </select>
</mapper>
