<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.message.infra.mapper.MessageTemplateRelMapper">

    <select id="selectByTemplateCode" resultType="io.choerodon.message.infra.dto.MessageTemplateRelDTO">
         SELECT
             mtr.*
        FROM HMSG_MESSAGE_TEMPLATE hmt
            LEFT JOIN MESSAGE_TEMPLATE_REL mtr on mtr.template_id=hmt.template_id
        WHERE hmt.template_code=#{templateCode}

    </select>
</mapper>