<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.message.infra.mapper.MessageC7nMapper">

    <select id="selectEmailMessage" resultType="io.choerodon.message.api.vo.MailRecordVO">
        select
            count(hm.message_id) as allCount,
            sum( hm.send_flag ) as successCount ,
            date_format( hm.creation_date, '%Y-%m-%d' ) as creationDate
        from hmsg_message hm
        join hmsg_message_transaction hmt on hm.message_id = hmt.message_id
        WHERE hm.message_type_code = 'EMAIL'
        and hmt.last_update_date &gt;= #{startDate}
        and hmt.last_update_date &lt;= #{endDate}
        GROUP BY date_format( hm.creation_date, '%Y-%m-%d' )
    </select>

    <select id="listEmailMessage" resultType="io.choerodon.message.infra.dto.MessageC7nDTO">
        SELECT
          hm.message_id AS id,
          hts.message_name,
          hm.last_update_date,
          hmt.trx_status_code AS statusCode,
          hmt.transaction_message AS failedReason,
          hmt.transaction_id AS transactionId,
          hm.creation_date AS creationDate
        FROM hmsg_message hm
        JOIN hmsg_message_transaction hmt ON hm.message_id = hmt.message_id
        straight_join  hmsg_template_server_line htsl ON htsl.template_code = hm.template_code
        JOIN hmsg_template_server hts ON hts.temp_server_id = htsl.temp_server_id
        WHERE
           hm.message_type_code	= 'Email'
        <if test="status != null and status != ''">
            and hmt.trx_status_code = #{status}
        </if>
        <if test="subject != null and subject != ''">
            and hts.message_name  LIKE concat(concat('%',#{subject}),'%')
        </if>
        <if test="params != null">
            AND (
            hmt.trx_status_code LIKE concat(concat('%',#{params}),'%') OR
            hmt.transaction_message LIKE concat(concat('%',#{params}),'%') OR
            hts.message_name  LIKE concat(concat('%',#{params}),'%')
            )
        </if>
        ORDER BY
        hm.last_update_date DESC
    </select>
    <!--手写mybatis select count优化-->
    <select id="listEmailMessage_COUNT" resultType="Long">
        SELECT
          count(0)
        FROM
         (
          SELECT
           hm.message_id AS id
          FROM
           hmsg_message hm

           STRAIGHT_JOIN hmsg_message_transaction hmt ON hm.message_id = hmt.message_id
           JOIN hmsg_template_server_line htsl  ON htsl.template_code = hm.template_code
           straight_join hmsg_template_server hts ON hts.temp_server_id = htsl.temp_server_id

        WHERE
        hm.message_type_code = 'Email'
        <if test="status != null and status != ''">
            and hmt.trx_status_code = #{status}
        </if>

        <if test="subject != null and subject != ''">
            and hts.message_name  LIKE concat(concat('%',#{subject}),'%')
        </if>
        <if test="params != null">
            AND (
            hmt.trx_status_code LIKE concat(concat('%',#{params}),'%') OR
            hmt.transaction_message LIKE concat(concat('%',#{params}),'%') OR
            hts.message_name LIKE concat(concat('%',#{params}),'%')
            )
        </if>
        ) tmp_count
    </select>

    <select id="listMessage" resultType="io.choerodon.message.infra.dto.MessageC7nDTO">
        SELECT
        hmt.transaction_id AS id,
        hmr.receiver_address AS email,
        hts.message_code AS messageCode,
        hts.message_name AS messageName,
        hmt.trx_status_code AS statusCode,
        hmt.transaction_message AS failedReason,
        hm.creation_date
        FROM
        hmsg_message hm
        JOIN hmsg_message_transaction hmt ON hm.message_id = hmt.message_id
        JOIN hmsg_message_receiver hmr ON hmr.message_id = hm.message_id
        LEFT JOIN hmsg_template_server_line htsl ON htsl.server_code = 'CHOERODON-EMAIL'
        AND htsl.template_code = hm.template_code
        LEFT JOIN hmsg_template_server hts ON hts.temp_server_id = htsl.temp_server_id
        WHERE
        hm.server_code = 'CHOERODON-EMAIL'
        <if test="status != null and status != ''">
            and hmt.trx_status_code = #{status}
        </if>
        <if test="receiveEmail != null and receiveEmail != ''">
            and hmr.receiver_address  LIKE concat(concat('%',#{receiveEmail}),'%')
        </if>
        <if test="templateType != null and templateType != ''">
            and (hts.message_code  LIKE concat(concat('%',#{templateType}),'%') or hts.message_name LIKE
            concat(concat('%',#{templateType}),'%'))
        </if>
        <if test="failedReason != null and failedReason != ''">
            and hmt.transaction_message  LIKE concat(concat('%',#{failedReason}),'%')
        </if>
        <if test="params != null">
            AND (
            hmt.trx_status_code LIKE concat(concat('%',#{params}),'%') OR
            hmr.receiver_address LIKE concat(concat('%',#{params}),'%') OR
            hmt.transaction_message LIKE concat(concat('%',#{params}),'%') OR
            hts.message_name  LIKE concat(concat('%',#{params}),'%') OR
            hts.message_code LIKE concat(concat('%',#{params}),'%')
            )
        </if>
        ORDER BY hm.message_id desc
    </select>

    <select id="listWebHooks" resultType="io.choerodon.message.infra.dto.MessageC7nDTO">
        SELECT
        hm.message_id,
        hm.message_type_code,
        hm.server_code,
        hm.creation_date,
        hws.webhook_address as webhookAddress,
        hmt.trx_status_code AS statusCode,
        hmt.transaction_message AS failedReason,
        hm. SUBJECT AS messageName
        FROM
        hmsg_message hm
        JOIN hmsg_message_transaction hmt ON hm.message_id = hmt.message_id
        JOIN hmsg_webhook_server hws ON hws.server_code = hm.server_code
        WHERE
        hm.message_type_code = 'WEB_HOOK'
        <if test="status != null and status != ''">
            and hmt.trx_status_code = #{status}
        </if>
        <if test="webhookAddress != null and webhookAddress != ''">
            and hws.webhook_address  LIKE concat(concat('%',#{webhookAddress}),'%')
        </if>
        <if test="templateType != null and templateType != ''">
            and hm. SUBJECT  LIKE concat(concat('%',#{templateType}),'%')
        </if>
        <if test="failedReason != null and failedReason != ''">
            and hmt.transaction_message  LIKE concat(concat('%',#{failedReason}),'%')
        </if>
        <if test="params != null">
            AND (
            hmt.transaction_message LIKE concat(concat('%',#{params}),'%') OR
            hws.webhook_address LIKE concat(concat('%',#{params}),'%') OR
            hm. SUBJECT LIKE concat(concat('%',#{params}),'%') OR
            hmt.transaction_message LIKE concat(concat('%',#{params}),'%')
            )
        </if>
        ORDER BY
        hm.creation_date DESC
    </select>


    <delete id="deleteRecord">
        DELETE hm,
        hmt
        FROM
        hmsg_message hm
        JOIN hmsg_message_transaction hmt ON hm.message_id = hmt.message_id
        WHERE
        <![CDATA[hm.`creation_date` <= DATE_ADD(curdate( ), INTERVAL - #{cleanNum} DAY)]]>
        AND hm.message_type_code = #{messageType}
    </delete>

    <select id="listFailedMessageRecord" resultType="java.lang.Long">
        SELECT
            hmt.transaction_id
        FROM
            hmsg_message_transaction hmt
            JOIN hmsg_message hm ON hm.message_id = hmt.message_id
            AND hm.message_type_code = 'email'
        WHERE
            hmt.trx_status_code = 'F'
          AND hmt.creation_date &gt;= #{startDate}
          AND hmt.creation_date &lt;= #{endDate}
    </select>

</mapper>