<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.message.infra.mapper.ReceiveSettingC7nMapper">

    <delete id="deleteByUserIdAndSourceTypeAndSourceId">
        DELETE FROM notify_receive_setting
        WHERE user_id = #{userId}
        <if test="sourceType != null">
            AND source_type = #{sourceType}
        </if>
        <if test="sourceId != null">
            AND source_id = #{sourceId}
        </if>
    </delete>

</mapper>