<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.message.infra.mapper.ReceiveSettingC7nMapper">

    <delete id="deleteByUserIdAndSourceTypeAndSourceId">
        DELETE FROM notify_receive_setting
        WHERE user_id = #{userId}
        <if test="sourceType != null">
            AND source_type = #{sourceType}
        </if>
        <if test="sourceId != null">
            AND source_id = #{sourceId}
        </if>
    </delete>

    <select id="selectByTemplateServerId" resultType="java.lang.Long">
        SELECT
            nrs.USER_ID
        FROM
            notify_receive_setting nrs
        WHERE
         nrs.SEND_SETTING_ID=#{tempServerId}
           AND nrs.USER_ID IN
        <foreach item="user" index="index" collection="userIds" open="(" separator="," close=")">
            #{user}
        </foreach>
        <choose>
            <when test="projectId != null">
                AND nrs.SOURCE_ID = #{projectId}  AND nrs.SOURCE_TYPE = 'project'
            </when>
            <otherwise>
                AND nrs.SOURCE_TYPE = 'site'
            </otherwise>
        </choose>
            AND nrs.SENDING_TYPE = #{type}
    </select>

</mapper>