<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.notify.infra.mapper.RecordMapper">

    <select id="fulltextSearchEmail" resultType="io.choerodon.notify.api.dto.RecordListDTO">
        SELECT
        rc.id,
        rc.status,
        rc.receive_account AS email,
        rc.retry_status,
        nts.is_manual_retry,
        tl.name AS template_type,
        rc.failed_reason,
        rc.creation_date
        FROM notify_record rc
        LEFT JOIN notify_send_setting nts ON nts.code = rc.business_type
        LEFT JOIN notify_template tl ON nts.email_template_id = tl.id
        WHERE nts.level = #{query.level} AND rc.status IS NOT NULL
        <if test="query.status != null">
            AND rc.status LIKE concat('%',#{query.status},'%')
        </if>
        <if test="query.retryStatus != null">
            AND rc.retry_status LIKE concat('%',#{query.retryStatus},'%')
        </if>
        <if test="query.email != null">
            AND rc.receive_account LIKE concat('%',#{query.email},'%')
        </if>
        <if test="query.templateType != null">
            AND tl.name LIKE concat('%',#{query.templateType},'%')
        </if>
        <if test="query.failedReason != null">
            AND rc.failed_reason LIKE concat('%',#{query.failedReason},'%')
        </if>
        <if test="query.params != null">
            AND(
            rc.status LIKE concat('%',#{query.params},'%') OR
            rc.retry_status LIKE concat('%',#{query.params},'%') OR
            rc.receive_account LIKE concat('%',#{query.params},'%') OR
            tl.name LIKE concat('%',#{query.params},'%') OR
            rc.failed_reason LIKE concat('%',#{query.params},'%')
            )
        </if>
    </select>

    <update id="updateRecordStatus">
        UPDATE notify_record
        SET object_version_number = object_version_number + 1,
        status = #{status}, failed_reason = #{reason}, retry_status = #{retryStatus}
        WHERE id = #{id}
    </update>

</mapper>
