<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.notify.infra.mapper.SendSettingMapper">

    <resultMap id="SendSettingListDTO" type="io.choerodon.notify.api.dto.SendSettingListDTO">
        <id column="id" property="id"></id>
        <result column="fd_level" property="level" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="fulltextSearch" resultMap="SendSettingListDTO">
        SELECT
        nts.id,
        nts.code,
        nts.name,
        nts.fd_level,
        nts.pm_type,
        nts.description,
        ntemail.code AS email_template_code,
        ntsms.code AS sms_template_code,
        ntpm.code AS pm_template_code
        FROM notify_send_setting nts
        LEFT JOIN notify_template ntemail on nts.email_template_id = ntemail.id
        LEFT JOIN notify_template ntsms on nts.sms_template_id = ntsms.id
        LEFT JOIN notify_template ntpm on nts.pm_template_id = ntpm.id
        WHERE nts.fd_level = #{level}
        <if test="code != null">
            AND nts.code LIKE concat(concat('%',#{code}),'%')
        </if>

        <if test="name != null">
            AND nts.name LIKE concat(concat('%',#{name}),'%')
        </if>
        <if test="description != null">
            AND nts.description LIKE concat(concat('%',#{description}),'%')
        </if>
        <if test="params != null">
            AND(
            nts.code LIKE concat(concat('%',#{params}),'%') OR
            nts.name LIKE concat(concat('%',#{params}),'%') OR
            nts.description LIKE concat(concat('%',#{params}),'%')
            )
        </if>
    </select>

    <resultMap id="SendSettingDetailDTO" type="io.choerodon.notify.api.dto.SendSettingDetailDTO">
        <id column="id" property="id"></id>
        <result column="fd_level" property="level" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectById" resultMap="SendSettingDetailDTO">
        SELECT
        nts.id,
        nts.code,
        nts.name,
        nts.description,
        nts.fd_level,
        nts.pm_type,
        nts.retry_count,
        nts.is_send_instantly,
        nts.is_manual_retry,
        nts.object_version_number,
        ntemail.id AS email_template_id,
        ntemail.code AS email_template_code,
        ntsms.id AS sms_template_id,
        ntsms.code AS sms_template_code,
        ntpm.id AS pm_template_id,
        ntpm.code AS pm_template_code
        FROM notify_send_setting nts
        LEFT JOIN notify_template ntemail on nts.email_template_id = ntemail.id
        LEFT JOIN notify_template ntsms on nts.sms_template_id = ntsms.id
        LEFT JOIN notify_template ntpm on nts.pm_template_id = ntpm.id
        where nts.id = #{id}
    </select>
</mapper>
