<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.notify.infra.mapper.SendSettingCategoryMapper">
    <select id="selectByCodeSet" resultType="io.choerodon.notify.infra.dto.SendSettingCategoryDTO">
        SELECT
        *
        FROM
        NOTIFY_SEND_SETTING_CATEGORY
        WHERE
        CODE IN
        <foreach item="item" index="index" collection="codes" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
