<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.notify.infra.mapper.SiteMsgRecordMapper">

    <resultMap id="SiteMsgRecordDTO" type="io.choerodon.notify.api.dto.SiteMsgRecordDTO">
        <id column="id" property="id"></id>
        <result column="is_read" property="read" jdbcType="BOOLEAN"/>
        <result column="is_deleted" property="deleted" jdbcType="BOOLEAN"/>
    </resultMap>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO notify_sitemsg_record(USER_ID,TITLE,CONTENT,TYPE,SEND_BY) VALUES
        <foreach collection="records" item="r" separator=",">
            (#{r.userId},#{r.title},#{r.content},#{r.type},#{r.sendBy})
        </foreach>
    </insert>

    <insert id="batchInsert" databaseId="mysql" parameterType="java.util.List">
        INSERT INTO notify_sitemsg_record(USER_ID,TITLE,CONTENT,TYPE,SEND_BY) VALUES
        <foreach collection="records" item="r" separator=",">
            (#{r.userId},#{r.title},#{r.content},#{r.type},#{r.sendBy})
        </foreach>
    </insert>

    <insert id="batchInsert" databaseId="oracle" parameterType="java.util.List">
        INSERT INTO notify_sitemsg_record(ID,USER_ID,TITLE,CONTENT,TYPE,SEND_BY)
        select NOTIFY_SITEMSG_RECORD_S.NEXTVAL,T.* from(
        <foreach collection="records" item="r" index="index"
                 separator="UNION">
            SELECT
            #{r.userId},#{r.title},#{r.content},#{r.type},#{r.sendBy}
            from dual
        </foreach>
        ) T
    </insert>

    <select id="fulltextSearch" resultMap="SiteMsgRecordDTO">
        SELECT
        nsr.*
        FROM notify_sitemsg_record nsr
        WHERE 1 = 1
        <if test="query.id != null">
            AND nsr.id = #{query.id}
        </if>
        <if test="query.userId != null">
            AND nsr.user_id = #{query.userId}
        </if>
        <if test="query.title != null">
            AND nsr.title LIKE concat(concat('%',#{query.title}),'%')
        </if>
        <if test="query.content != null">
            AND nsr.content LIKE concat(concat('%',#{query.content}),'%')
        </if>
        <if test="query.read != null">
            AND nsr.is_read = #{query.read}
        </if>
        <if test="query.deleted != null">
            AND nsr.is_deleted = #{query.deleted}
        </if>
        <if test="query.params != null">
            AND(
            nsr.title LIKE concat(concat('%',#{query.title}),'%') OR
            nsr.content LIKE concat(concat('%',#{query.content}),'%')
            )
        </if>
    </select>

    <select id="selectByUserIdAndReadAndDeleted" resultMap="SiteMsgRecordDTO">
        SELECT
        nsr.*
        FROM notify_sitemsg_record nsr
        WHERE nsr.user_id = #{userId}
        AND nsr.is_deleted = 0
        <if test="read != null">
            AND nsr.is_read = #{read}
        </if>
        <if test="type != null">
            AND nsr.type = #{type}
        </if>
    </select>


    <select id="selectCountOfUnRead" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM notify_sitemsg_record
        WHERE user_id = #{userId}
        AND is_deleted = 0
        AND is_read = 0
    </select>

</mapper>
