<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.message.infra.mapper.SystemAnnouncementMapper">

    <select id="fulltextSearch" resultType="io.choerodon.message.api.vo.SystemAnnouncementVO">
        SELECT
        hnp.notice_id AS id,
        hnp.title AS title,
        hnp.notice_body AS content,
        hnp.published_date AS sendDate,
        hnp.end_date AS endDate,
        hnp.published_status_code AS status,
        hn.sticky_flag AS sticky,
        hn.object_version_number AS object_version_number
        FROM hmsg_notice_published hnp
        join hmsg_notice hn on hn.notice_id=hnp.notice_id
        <where>
            hn.status_code!='DELETED'
            <if test="title != null">
                AND hnp.title LIKE concat(concat('%', #{title}), '%')
            </if>
            <if test="status != null">
                AND hnp.published_status_code = #{status}
            </if>
            <if test="params != null">
                AND (
                hn.title LIKE concat(concat('%',#{params}), '%') OR
                hnp.notice_body LIKE concat(concat('%',#{params}), '%')
                )
            </if>
        </where>
    </select>

</mapper>