<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.notify.infra.mapper.TargetUserMapper">
    <select id="listByMsgSettingId" resultType="io.choerodon.notify.infra.dto.TargetUserDTO">
        SELECT *
        FROM
            NOTIFY_TARGET_USER ntu
        WHERE ntu.message_setting_id = #{msgSettingId}
    </select>
</mapper>