<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.message.infra.mapper.TemplateServerC7nMapper">

    <select id="selectTemplateServer" resultType="io.choerodon.message.api.vo.MessageServiceVO">
        SELECT
        hts.temp_server_id AS id,
        hts.message_code,
        hts.message_name AS messageName,
        hts.description,
        hts.enabled_flag AS enabled,
        hts.subcategory_code AS message_type,
        hts.category_code AS LEVEL,
        hts.receive_config_flag,
        hts.object_version_number,
        nmst.edit
        FROM
        hmsg_template_server hts
        LEFT JOIN notify_message_setting_config nmst ON hts.message_code = nmst.message_code
        AND hts.tenant_id = nmst.TENANT_ID
        WHERE
        1 = 1
        AND hts.category_code IS NOT NULL
        AND hts.message_code IS NOT NULL
        <if test="level != null">
            AND hts.category_code = #{level}
        </if>
        <if test="messageCode != null">
            AND hts.message_code = #{categoryCode}
        </if>
        <if test="messageName != null">
            AND hts.message_name LIKE concat(concat('%',#{messageName}),'%')
        </if>
        <if test="messageType != null">
            AND hts.subcategory_code LIKE concat(concat('%',#{messageType}),'%')
        </if>
        <if test="enabled != null">
            AND hts.enabled_flag = #{enabled}
        </if>
        <if test="receiveConfigFlag != null">
            AND hts.receive_config_flag = #{allowConfig}
        </if>
        <if test="params != null">
            AND hts.message_code LIKE concat(concat('%',#{params}),'%')
        </if>
    </select>

    <select id="selectAllTemplateServer" resultType="org.hzero.message.domain.entity.TemplateServer">
        SELECT hts.*
        FROM
            hmsg_template_server hts
        WHERE
            category_code is not null and message_code is not null
    </select>

    <select id="selectForWebHook" resultType="org.hzero.message.domain.entity.TemplateServer">
        SELECT
            hts.temp_server_id,
            hts.subcategory_code,
            hts.message_code,
            hts.message_name,
            hts.description
        FROM
            hmsg_template_server hts
           JOIN hmsg_template_server_line htsl ON htsl.temp_server_id = hts.temp_server_id
           AND htsl.enabled_flag = TRUE
           AND htsl.type_code = 'WEB_HOOK'
           AND htsl.template_code LIKE concat(concat('%',#{messageType}),'%')
        WHERE hts.category_code=#{level}
        <if test="agileCategories!=null and agileCategories.size>0 and contains==true">
            And hts.subcategory_code in
            <foreach item="category"  collection="agileCategories" open="(" separator="," close=")">
                #{category}
            </foreach>
        </if>
        <if test="agileCategories!=null and agileCategories.size>0 and contains==false">
            And hts.subcategory_code not in
            <foreach item="category"  collection="agileCategories" open="(" separator="," close=")">
                #{category}
            </foreach>
        </if>
        <if test="name!=null ">
            And hts.message_name LIKE concat(concat('%',#{name}),'%')
        </if>
    </select>
</mapper>