<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.notify.infra.mapper.TemplateMapper">

    <select id="selectNamesByLevelAndTypeAnyMessageType" resultType="io.choerodon.notify.api.dto.TemplateNamesDTO">
        SELECT
        nt.id,
        nt.code,
        nt.name
        FROM notify_template nt
        INNER JOIN notify_send_setting nss on nss.code = nt.business_type
        <if test="type != null">
            AND nss.code = #{type}
        </if>
        WHERE 1 = 1
        <if test="level != null">
            AND nss.fd_level = #{level}
        </if>
        <if test="messageType != null">
            AND nt.message_type = #{messageType}
        </if>
    </select>

    <select id="fulltextSearchStationLetter" resultType="io.choerodon.notify.api.dto.PmTemplateDTO">
        SELECT
        nt.id,
        nt.code,
        nt.name,
        nss.name AS type,
        nt.is_predefined AS isPredefined
        FROM notify_template nt
        LEFT JOIN notify_send_setting nss on nss.code = nt.business_type
        WHERE nt.message_type = 'pm'
        AND 1 = 1
        <if test="level != null">
            AND nss.fd_level = #{level}
        </if>
        <if test="type != null">
            AND nss.name LIKE concat(concat('%',#{type}),'%')
        </if>
        <if test="code != null">
            AND nt.code LIKE concat(concat('%',#{code}),'%')
        </if>
        <if test="name != null">
            AND nt.name LIKE concat(concat('%',#{name}),'%')
        </if>
        <if test="isPredefined != null">
            AND nt.is_predefined = #{isPredefined}
        </if>

        <if test="params != null">
            AND (
            nt.code LIKE concat(concat('%',#{params}),'%') OR
            nt.name LIKE concat(concat('%',#{params}),'%') OR
            nss.name LIKE concat(concat('%',#{params}),'%')
            )
        </if>
        order by nt.id desc
    </select>

    <select id="fulltextSearchEmail" resultType="io.choerodon.notify.api.dto.EmailTemplateDTO">
        SELECT
        nt.id,
        nt.code,
        nt.name,
        nss.name AS type,
        nt.is_predefined AS isPredefined
        FROM notify_template nt
        LEFT JOIN notify_send_setting nss on nss.code = nt.business_type
        WHERE nt.message_type = 'email'
        AND 1 = 1
        <if test="level != null">
            AND nss.fd_level = #{level}
        </if>
        <if test="type != null">
            AND nss.name LIKE concat(concat('%',#{type}),'%')
        </if>
        <if test="code != null">
            AND nt.code LIKE concat(concat('%',#{code}),'%')
        </if>
        <if test="name != null">
            AND nt.name LIKE concat(concat('%',#{name}),'%')
        </if>
        <if test="isPredefined != null">
            AND nt.is_predefined = #{isPredefined}
        </if>

        <if test="params != null">
            AND (
            nt.code LIKE concat(concat('%',#{params}),'%') OR
            nt.name LIKE concat(concat('%',#{params}),'%') OR
            nss.name LIKE concat(concat('%',#{params}),'%')
            )
        </if>
        order by nt.id desc
    </select>

    <select id="selectNamesByLevelAndType" resultType="io.choerodon.notify.api.dto.TemplateNamesDTO">
        SELECT
        nt.id,
        nt.code,
        nt.name
        FROM notify_template nt
        INNER JOIN notify_send_setting nss on nss.code = nt.business_type
        <if test="type != null">
            AND nss.code = #{type}
        </if>
        WHERE 1 = 1
        <if test="level != null">
            AND nss.fd_level = #{level}
        </if>
    </select>

    <select id="selectLevelByCode" resultType="java.lang.String">
        SELECT
        nss.fd_level
        FROM notify_template nt
        INNER JOIN notify_send_setting nss on nss.code =  nt.business_type
        WHERE nt.code = #{code} AND nt.message_type = #{messageType}
    </select>

    <select id="pagedSearch" resultType="io.choerodon.notify.infra.dto.Template">
        SELECT
        nt.id,
        nt.code,
        nt.name,
        nss.name AS businessType,
        nt.is_predefined AS isPredefined
        FROM notify_template nt
        LEFT JOIN notify_send_setting nss on nss.code = nt.business_type
        WHERE nt.message_type = 'sms'
        AND 1 = 1
        <if test="templateQuery.type != null">
            AND nss.name LIKE concat(concat('%',#{templateQuery.type}),'%')
        </if>
        <if test="templateQuery.code != null">
            AND nt.code LIKE concat(concat('%',#{templateQuery.code}),'%')
        </if>
        <if test="templateQuery.name != null">
            AND nt.name LIKE concat(concat('%',#{templateQuery.name}),'%')
        </if>
        <if test="templateQuery.predefined != null">
            AND nt.is_predefined = #{templateQuery.predefined}
        </if>

        <if test="templateQuery.params != null">
            AND (
            nt.code LIKE concat(concat('%',#{templateQuery.params}),'%') OR
            nt.name LIKE concat(concat('%',#{templateQuery.params}),'%') OR
            nss.name LIKE concat(concat('%',#{templateQuery.params}),'%')
            )
        </if>
        order by nt.id desc
    </select>

    <select id="doFTR" resultType="io.choerodon.notify.api.dto.TemplateVO">
        select
        id,
        name,
        is_predefined as predefined,
        email_title,
        pm_title,
        sms_content,
        case when (#{currentId} is not null and id=#{currentId} )
        then true else false end as current_template
        from  notify_template
        <where>
            <if test="businessType != null">
                and business_type = #{businessType}
            </if>
            <if test="messageType != null">
                and message_type = #{messageType}
            </if>
            <if test="predefined != null">
                and is_predefined = #{predefined}
            </if>
            <if test="name != null">
                and name like concat(concat('%',#{name}),'%')
            </if>
            <if test="params != null">
                AND (
                email_title like concat(concat('%',#{params}),'%') OR
                pm_title like concat(concat('%',#{params}),'%') OR
                sms_content like concat(concat('%',#{params}),'%') OR
                name like concat(concat('%',#{params}),'%')
                )
            </if>
        </where>
        <if test="currentId != null">
            ORDER BY FIELD(`id`,#{currentId}) desc,id desc
        </if>
    </select>

</mapper>
