<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.notify.infra.mapper.WebHookMapper">
    <select id="selectBySendSetting" resultType="io.choerodon.notify.infra.dto.WebHookDTO">
        SELECT
        wh.*
        FROM
        notify_webhook wh
        LEFT JOIN NOTIFY_WEBHOOK_MESSAGE_SETTING wms ON wh.ID = wms.WEBHOOK_ID
        WHERE
        wms.SEND_SETTING_ID = #{send_setting_id}
        AND wh.PROJECT_ID =#{project_id}
    </select>

    <select id="doFTR" resultType="io.choerodon.notify.infra.dto.WebHookDTO">
        SELECT
        *
        FROM
        notify_webhook
        where project_id=#{projectId}
        <if test="filterDTO.name !=null">
            AND name LIKE concat(concat('%',#{filterDTO.name}),'%')
        </if>
        <if test="filterDTO.type !=null">
            AND type=#{filterDTO.type}
        </if>
        <if test="filterDTO.enableFlag !=null">
            AND enable_flag=#{filterDTO.enableFlag}
        </if>
        <if test="params !=null">
            AND (
            name LIKE concat(concat('%',#{params}),'%') OR
            webhook_path LIKE concat(concat('%',#{params}),'%')
            )
        </if>
    </select>
</mapper>
