<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.message.infra.mapper.WebhookProjectRelMapper">

    <select id="selectByTenantId" resultType="io.choerodon.message.infra.dto.WebhookProjectRelDTO">
        SELECT
            *
        from webhook_project_rel
        where
            TENANT_ID = #{tenantId}
        and PROJECT_ID is not null
    </select>

    <select id="selectByProjectId" resultType="io.choerodon.message.infra.dto.WebhookProjectRelDTO">
        SELECT
        wpr.*
        FROM
        webhook_project_rel wpr
        JOIN hmsg_webhook_server hws ON hws.server_id = wpr.WEBHOOK_ID
        AND hws.enabled_flag = 1
        WHERE
        wpr.PROJECT_ID = #{projectId}
    </select>


</mapper>