<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.message.infra.mapper.WebHookC7nMapper">

    <resultMap id="WebHookVO" type="io.choerodon.message.api.vo.WebHookVO" autoMapping="true">
        <id column="server_id" property="serverId"/>
        <result column="webhook_address" property="webhookAddress"/>
        <result column="server_type" property="serverType"/>
        <result column="enabled_flag" property="enabledFlag"/>
        <collection property="templateServers" ofType="org.hzero.message.domain.entity.TemplateServer">
            <id property="tempServerId" column="tempServerId"/>
            <result property="messageCode" column="messageCode"/>
            <result property="messageName" column="messageName"/>
        </collection>
    </resultMap>

    <select id="pagingWebHook" resultMap="WebHookVO">
        SELECT
        hws.server_id,
        hws.webhook_address,
        hws.server_type,
        hws.enabled_flag,
        hts.message_code as messageCode,
        hts.message_name as messageName,
        hts.temp_server_id as tempServerId
        FROM
        hmsg_webhook_server hws
        INNER JOIN hmsg_template_server_wh htsh ON
        htsh.server_code = hws.server_code
        INNER JOIN hmsg_template_server_line htsl ON htsl.temp_server_id = htsh.temp_server_id
        AND (
        htsl.template_code LIKE '%JSON%'
        OR htsl.template_code LIKE '%DINGTALKANDWECHAT%'
        )
        INNER JOIN hmsg_template_server hts ON hts.temp_server_id = htsl.temp_server_id
        <if test="projectId!=null">
            INNER JOIN webhook_project_rel wpr on wpr.project_id=#{projectId} and wpr.webhook_id=hws.server_id
        </if>
        where
        hws.tenant_id=#{tenantId}
        <if test="messageName != null">
            AND hts.message_name LIKE concat(concat('%',#{messageName}),'%')
        </if>
        <if test="type != null">
            AND hws.type=#{type}
        </if>
        <if test="enableFlag != null">
            AND hws.enabled_flag='enableFlag'
        </if>
        <if test="params != null">
            AND (hws.webhook_address like concat(concat('%',#{params}),'%') or hts.message_name like concat(concat('%',#{params}),'%'))
        </if>
    </select>

    <delete id="deleteWebHook">
        DELETE hws.*,
            htsl.*,
            wpr.*,
            hwsh.*
        FROM
            hmsg_webhook_server AS hws
            JOIN hmsg_template_server_line htsl ON htsl.server_code = hws.server_code
            LEFT JOIN webhook_project_rel wpr ON wpr.webhook_id = hws.server_id
            JOIN hmsg_template_server_wh hwsh ON hwsh.server_code = hws.server_code
        WHERE hws.server_id=#{webhookId}
    </delete>

    <select id="queryById" resultMap="WebHookVO">
        SELECT
	       any_value ( hws.server_id ) AS server_id,
	       any_value ( hws.webhook_address ) AS webhook_address,
	       any_value ( hws.server_type ) AS server_type,
	       any_value ( hws.enabled_flag ) AS enabled_flag,
	       any_value ( hts.message_name ) AS messageName,
	       any_value ( hts.message_code ) AS messageCode,
	       any_value ( hts.temp_server_id ) AS tempServerId
        FROM
	       hmsg_webhook_server hws,
	       hmsg_template_server_line htsl,
	       hmsg_template_server hts
        WHERE
      	   htsl.template_code LIKE CONCAT( '%', hws.server_type, '%' )
	     AND hts.temp_server_id = htsl.temp_server_id  	AND hws.enabled_flag=1
         GROUP BY
         	hts.message_code
    </select>

    <select id="queryWebHook" resultType="long">
      SELECT
	     htsw.temp_server_id
      FROM
	     hmsg_webhook_server hws
	  JOIN hmsg_template_server_wh htsw ON hws.server_code = htsw.server_code
      WHERE
	     hws.server_id =#{webHookId}
    </select>

</mapper>