.c7n-mailsetting-loading-container {
  text-align: center;
  padding-top: 100px;
}

.c7n-mailsetting-form {
  font-size: .14rem;
  .c7n-pro-field-label:after {
    content: ':' !important;
    color: #000 !important;
  }
  .c7n-pro-field-label {
    color: rgba(0, 0, 0, .54);
  }
}

.c7n-mailsetting-container {
  .sslRadioGroup > label:first-child {
    margin-right: 52px;
  }

  .divider {
    width: 512px;
    height: 1px;
    margin: 35px 0 12px;
    border: none;
    background: rgba(0, 0, 0, 0.12);
  }

  .btnGroup {
    > button:last-child {
      margin-left: 12px;
    }
  }
}
